<div class="container">
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="query"
      autocomplete="off"
      placeholder="Search images..."
      class="input"
    />
    <button class="btn" type="submit">Search</button>
  </form>
  <ul class="gallery">
    <!-- Список <li> с карточками изображений -->
  </ul>
  <button type="button" class="btn btn-primary button" data-action="load-more">
    <span
      class="spinner-border spinner-border-sm spinner is-hidden"
      role="status"
      aria-hidden="true"
    ></span>

    <span class="label">Показать ещё</span>
  </button>
</div>
